* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    height: 700px;
    width: 700px;
    background: #ac734a;
}

@media screen and (max-width: 600px) {
    /*@media (max-width: 600px) {}*/
    /*@media screen and (max-width: 600px) and (orientation: landscape ou portrait */
    div {
        background: #cecece;
        height: 200px;
        width: 300px;
    }
}